.navbar{
    background-color:white;
    border:1px solid white;
}
.nav{
    margin:15px 0px 0px 150px;
}
.nav li{
    padding:0px 16px 0px;
    font-family: Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
    color:black;
}
#search{
    height:34px;
    width:230px;
    margin:20px 0px 0px 240px;
    font-family: Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: italic;
   
}
#slideshow img{
    height:700px;
    width:100%;
    margin-top:40px
}
.section1{
    height:60px;
    background-color: rgba(252, 202, 178, 0.56);
}
.section1 h4{
    text-align: center;
    margin: 10px 0px 0px 0px;
}