body{
   
}
img{
    height:200px;
}
.form-control{
    padding:20px;
}
.form-group{
    background-color:bisque;
    padding:30px;
    border:2px solid black;
    margin-top:20px;
}
input{
    margin-bottom:10px;
}
h1{
    font-size:80px;
    font-family:serif;
}

